h1 {
	color: #fff2cf;
}

header {
	/*background-image: none;*/
	/*background-color: #020f42; */
	background-color:#556;
	background-image: 
		linear-gradient(30deg, #020f42 12%, transparent 12.5%, transparent 87%, #020f42 87.5%, #020f42),
		linear-gradient(150deg, #020f42 12%, transparent 12.5%, transparent 87%, #020f42 87.5%, #020f42),
		linear-gradient(30deg, #020f42 12%, transparent 12.5%, transparent 87%, #020f42 87.5%, #020f42),
		linear-gradient(150deg, #020f42 12%, transparent 12.5%, transparent 87%, #020f42 87.5%, #020f42),
		linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
		linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

header .header-content {
  padding: 75px 15px;
}

section {
	padding-top: 75px;
	padding-bottom: 0px;
}

.btn-primary {
	background-color: #ef3824;
	border-color: #d01d08;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: white;
	background-color: #d01d08;
	border-color: #d01d08;
}

header .header-content .header-content-inner hr {
	border-color: #fff2cf;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	color: rgba(255, 255, 255, 1.0);
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #ef3824 !important;
  background-color: transparent;
}

.navbar-default.affix {
	background-color: #fff2cf;
	border-color: rgba(34, 34, 34, 0.05);
}
.navbar-default.affix .navbar-header .navbar-brand {
	color: #020f42;
	font-size: 14px;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
	color: #ef3824;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
	color: #020f42;
}
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
	color: #ef3824;
}

.bg-primary {
  background-color: #ef3824;
}

.bg-primary .container{
  background-color: #ef3824;
}

.text-color {
	color: #fff2cf;
}

.dark-shade-text {
	color: #ffe08b;
}

hr.light {
  border-color: #fff2cf;
}

.service-box .text-primary {
	color: #020f42;
}

.social-link {
	color: #020f42;
}

.social-link:hover,
.social-link:active,
.social-link:focus {
	color: #ef3824;
	text-decoration: none;
}

.primary {
	color: #ef3824;	
}

hr.dark {
	border-color: #020f42;
}

.bg-work {
	background-color: #020f42;
}

.bg-projects {
	background-color: #ef3824;
	padding: 20px 10px;
}

.project-box {
	padding: 10px;
	margin: 10px 0px;
	color: #fff2cf;
	border: 1px solid #fff2cf;
	min-height: 400px;
}

.project-title {
	font-weight: 600;
}

.bg-services {
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #fff2cf; 
}

.bg-contact {
	background-color: #020f42;
	color: #fff2cf;
	padding-top: 20px;
	padding-bottom: 25px;
}

.contact-link,
.contact-link:hover,
.contact-link:active,
.contact-link:visited {
	color: #fff2cf;
}

.project-link,
.prokect-link:hover,
.prokect-link:active,
.prokect-link:visited {
	color:green;
	transition: none;
	opacity: 100%;
}