.container {
	margin: auto;
	text-align: center;
}

ul li {
	list-style: none;
	display: inline-block;
}
.nav {
	padding: 10px 0px;
}
.nav-button:link {
	padding: 5px 25px;
	font-size: 18px;
	font-family: arial;
	text-decoration: none;
	color: black;
}

.nav-button:visited {
	color: black;
	text-decoration: none;
}

.nav-button:hover {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
